body {
    background-color: #f8f4ec;
}

.title {
    color: 	#fff8f0;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px ;
    padding:20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color:#6f4e37;
    border-radius: 8px;
}

.recipe-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.recipes {
    padding:30px;
    text-align: center;
    margin: 10px;
    background-color:#a2673f;
    width: 300px;
    border-radius: 8px;
}

a {
    color:#fff8f0;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover{
    color: #ffd166;
}

button {
    background-color: #6f4e37;
    color: #fff8f0;
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12px 24px;
    border:none;
    border-radius: 8px;
}

button:hover {
    background-color: #a2673f;
}